/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-large-four {
	color: #fff;
	padding: 2px;
}

.large-four-layout-container {
	display: grid;
	grid-template-columns: 2fr 1fr; /* 2fr for large block, 1fr for small blocks column */
	grid-template-rows: repeat(4, 1fr); /* create four equal rows */
	gap: 16px; /* add gap if needed */
}

.large-four-layout-container :first-child {
	grid-row: span 4; /* large block will span across 4 rows */
}
